.App {
  font-family: sans-serif;
}

.add-expense {
  margin-left: 0.5rem;
}

.expense-list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}

.expense-item {
  font-family: monospace;
  cursor: pointer;
  line-height: 1.5;
}
